*.o
*.exe
*.log

bin/
obj/
build/
Packages/
*_project/
.misc/
.vscode/

./benchmarks/plot.gnu

makefile_perso
random.txt
main


# HLS_projects
hls/check_side_chan_axi/hls_project/
hls/sorting/hls_sorting/

# Vivado projects
vivado/pynq/
vivado/HLS_IP_CATALOG/

vivado/HLS_IP_CATALOG